# Bundler & Dependencies
/Gemfile.lock
/.bundle/
/vendor/

# Test coverage & yard docs
/coverage/
/yardoc/
/.yardoc/
/.yardtmp

# Temp files & editor/IDE stuff
*.swp
*.swo
*.log
*.gem
*.rbc
*.sqlite3
*.DS_Store
*.byebug_history
*.rbenv-version

# Dotenv & secrets
.env
.env.*

# RuboCop caches
.rubocop-https*

# Temp files
/tmp/

# RubyMine/JetBrains
.idea/
